.guten-carousel {
  .guten-carousel-slide {
	position: relative;
	img {
	  display: block;
	}
	.components-button-group {
	  visibility: hidden;
	  opacity: 0;
	  position: absolute;
	  top: -2px;
	  margin: 8px;
	  z-index: 20;
	  transition: box-shadow 0.2s ease-out;
	  border-radius: 2px;
	  background: #fff;
	  border: 1px solid #1e1e1e;
	  &.is-left {
		left: 0;
	  }
	  &.is-right {
		right: 0;
	  }
	  .components-button {
		color: #1e1e1e;
		&:not(:focus) {
		  border: none;
		  box-shadow: none;
		}
		svg {
		  fill: none;
		}
	  }
	}

	figure.is-selected {
	  .components-button-group{
		visibility: visible;
		opacity: 1;
	  }
	}

  }
}

// controls
.guten-carousel-control-wrap {
  position: relative;
  .guten-carousel-dots {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	z-index: 2;
	.guten-carousel-dot {
	  height: var(--dot-height);
	  width: var(--dot-width);
	  margin: var(--dot-spacing);
	  border: none;
	  cursor: pointer;
	  padding: 0;
	  background: white;
	  border-radius: 5px;
	  &.guten-carousel-dot-active {
		background: #ffa74a;
	  }
	}
  }
  .guten-carousel-navs {
	z-index: 2;
	position: absolute;
	pointer-events: none;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
	padding: 20px;
	.guten-carousel-nav {
	  pointer-events: all;
	}
  }
}
