.wp-block-guten-carousel {

}

.guten-carousel-wrap {
  overflow: hidden;
  display: block;
  .guten-carousel {
	display: flex;
	width: 100%;
	transition: 400ms;
	transform: translateX(0);
	.guten-carousel-slide {
	  flex-basis: 100%;
	  max-width: 100%;
	  min-width: 100%;
	  display: block;
	}
  }
}
